<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <table class="table caption-top">
        <caption>List of users</caption>
        <div style="display: flex;justify-content: space-between;">
            <a href="/adminDashboard">Back to Dashboard</a>
        <a href="/">Go to home</a>
        
    </div>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Created_at</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Izz</td>
            <td>0568030262</td>
            <td>izz@izz.com</td>
            <td>ramalalh</td>
            <td>10/10/22</td>
          </tr>
          
        </tbody>
      </table>
</body>
</html>